<footer class="footer has-background-dark has-text-light">
  <div class="columns">
    <div class="column has-text-left beian">
      <span>
        梦ICP备<span class="koishi" title="こいし">223514</span>号-1
        <br/>
        <a class="hakurei">博丽网安备45678⑨8765号</a>
      </span>
    </div>
    <div class="column has-text-right">
      <span>
        Built with <a href="https://www.djangoproject.com/"><span id="django-logo">django</span></a> and <a href="https://bulma.io"><span id="bulma-logo">Bulma</span></a>
        <br/>
        &copy; {% now "Y" %} <span id="pydis-text">Donlon</span>
      </span>
    </div>
  </div>
</footer>
